@font-face {
    font-family: panton;
    src: url(/assets/fonts/panton/PantonDemo-Black.otf);
}
@font-face {
    font-family: panton-light;
    src: url(/assets/fonts/panton/PantonDemo-Light.otf);
}
@font-face {
    font-family: calibre;
    src: url(/assets/fonts/calibre/CalibreBold.otf);
}
@font-face {
    font-family: roboto;
    src: url(/assets/fonts/roboto/Roboto-Black.ttf);
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: panton;
}

body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

html{
    font-size: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-family: calibre;
}
li{
    list-style: none;
}

a,a:visited{
    text-decoration: none;
    color: #000;
}

p{
    color: #383334;
}



img{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button{
    cursor: pointer;
}

/*Estilizado header*/

#container-header{
    height: 15vh;
    width: 100vw;
    display: flex;
    background-color: #FFF;
    border-bottom: 1px solid rgb(244, 244, 244, 0.6);
    position: fixed;
    top: 0;
    transition: top .9s ease 0.10s;
}

#logo{
    height: 100%;
    width: 16%;
    padding-left: 2%;
    cursor: pointer;
}

#container-nav{
    margin: auto;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#ul-nav{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#ul-nav li{
    padding: 1%;
}

#register{
    padding: 20px 40px;
    border-radius: 5px;
    background-color: #2c4bff;
    font-family: roboto;
    color: #FFF;
}

#register:hover{
    background-color: #1F35B3;
    box-shadow: 0 0 10px #ABB7FF;
}

#register:active{
    background-color: #1b2d91;
    box-shadow: 0px 0px 3px 3px #ABB7FF;
}

#login{
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #2c4bff;
    font-family: roboto;
    color: #2c4bff;
}

#login:hover{
    background-color: #ABB7FF;
    box-shadow: 0 0 10px #ABB7FF;
}

#login:active{
    background-color: #97a2eb;
    box-shadow: 0 0 10px #ABB7FF;
}

/* Estilizado main */

#container-main{
    height: 100vh;
    width: 100vw;
    display: flex;
}

#hero{
    height: 100%;
    width: 45%;
    margin-right: 7%;
    margin-top: 2%;
}

#main-left{
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 7%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main-left h1{
    margin-top: 1em;
    letter-spacing: 0.7px;
    line-height: 1.3em;
    font-size: 3em;
}

#main-left p{
    width: 50%;
    margin-top: 0.8em;
    line-height: 1.1em;
    font-size: 1.7em;
}

#redirect-btn{
    margin-top: 15%;
    padding: 40px 50px;
    border: none;
    border-radius: 5px;
    background-color: #2c4bff;
    color: #FFF;
    font-family: roboto;
    font-weight: bold;
    font-size: 1.3em;
    letter-spacing: 2px;
}

#redirect-btn:hover{
    background-color: #1F35B3;
    box-shadow: 0 0 10px #ABB7FF;
}

#redirect-btn:active{
    background-color: #1b2d91;
    box-shadow: 0px 0px 3px 3px #ABB7FF;
}

/* Estilizado primer Article */

#container-first-article{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #F5F5F5;
}

#illustration-article{
    height: 100%;
    width: 45%;
    margin-right: 7%;
    margin-top: 2%;
}

#article-first-left{
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 7%;
}

#article-first-left h2{
    width: 75%;
    margin-bottom: 1.5em;
    letter-spacing: 0.7px;
    line-height: 1.3em;
    font-size: 3em;
}

#article-first-left p{
    width: 50%;
    margin-top: 0.8em;
    line-height: 1.1em;
    font-size: 1.3em;
}

/* Estilizado segundo Article */

#container-second-article{
    height: 100vh;
    width: 100vw;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#second-art-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#second-art-heading{
    font-size: 2.9rem;
}

#second-art-paragraph{
    width: 55%;
    margin-top: 1rem;
    font-size: 1.4rem;
    text-align: center;
}

#img-steps{
    margin-bottom: 5rem;
}

/* Estilizado tercer Article */

#container-third-article{
    height: 220vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5%;
}

.third-art-section{
    height: 22%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.third-art-section:nth-child(odd){
    background-color: #F5F5F5;
}

.third-art-img{
    height: 80%;
    width: 50%;
}

.third-art-section-text{
    height: 100%;
    width: 50%;
    padding-top: 2rem;
    margin-left: 6.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.third-art-span{
    font-size: .85rem;
    color: #474142ce;
    text-transform: uppercase;
}

.third-art-heading{
    margin-bottom: 1.2rem;
    font-size: 2rem;
    text-transform: capitalize;
}

.third-art-paragraph{
    width: 70%;
    text-transform: uppercase;
    font-size: 1.1rem;
}

/* estilizando cuarto article */

#container-fourth-article{
    height: 45vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(60deg,#3e6bfdaf,#3452f8);
    border: 2px solid #2c4cffb2;
    cursor: pointer;
}


#fourth-art-heading{
    margin-bottom: .8rem;
    font-size: 2.5rem;
}

.fourth-art-text{
    margin-left: 6.5%;
}

/* estilizando footer */

#container-footer{
    height: 100vh;
    width: 100vw;
    background-color: #f6f7f800;
}



/* estilizando login */

#login-back{
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;    
    background-color: rgba(0,0,0,.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-modal{
    height: 60%;
    width: 35%;
    border-radius: .4rem;
    background-color: #f7f7f8;
}

#login-modal-upper{
    height: 25%;
    width: 100%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

#login-logo{
    height: 45%;
    width: auto;
    align-self: center;
    margin-bottom: 3%;
    cursor: pointer;
}

#container-login-upper-span{
    height: 30%;
    width: 100%;
    padding-top: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #a3a3a371;
}

.login-upper-anchor{
    padding-right: 7%;
    font-family: Roboto;
}
.login-upper-anchor:nth-child(1){
    color: #2c4bff;
}
.login-upper-anchor:nth-child(1):hover{
    color: #1F35B3;
}


#login-form{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    justify-content: flex-end;
    align-items: flex-start;
}

.login-label{
    margin-top: 1.2rem;
    font-size: .9rem;
    font-family: Roboto;
}

.login-input{
    width: 100%;
    margin: .3rem 0;
    padding: .5rem 1rem;
    background-color: rgba(0,0,0,0.1);
    border: 2px solid transparent;
    border-radius: .4rem;
    font-family: Roboto;
    font-size: 1rem;
}
.login-input:hover{
    border: 2px solid rgba(0,0,0,0.2);
}
.login-input:focus{
    background: #000;
    color: #FFF;
    border: 2px solid #5f52cf;
    outline: 0;
}

#login-anchor{
    margin-bottom: 1.5rem;
    color: #504d4e;
    font-size: .7rem;
}
#login-anchor:hover{
    color: #000;
    text-decoration: underline;
}

#login-btn{
    align-self: stretch;
    background-color: #2c4bff;
    color: rgb(233, 231, 231);
    margin: 2rem 0 3.8rem 0;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    border-radius: .4rem;
    font-family: Roboto;
    font-size: 1rem;
    text-transform: capitalize;
}
#login-btn:hover{
    background-color: #1F35B3;
}
#login-btn:active{
    background-color: #1b2d91;
}

